<a href="https://colab.research.google.com/github/danielduartt/Fundamentos-DataScience/blob/main/1_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#BIBLIOTECAS
import pandas as pd
import numpy as np

#_Construindo Series:_

In [8]:
labels = 'a b c'.split()
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {labels[0] : 10, labels[1] : 20, labels[2]: 30}

In [10]:
pd.Series(labels)
#labels é o índice

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data = labels, index = my_list)
#labels os indíces e my_list o index

10    a
20    b
30    c
dtype: object

In [12]:
pd.Series(labels, my_list) # posso fazer assim tbm

10    a
20    b
30    c
dtype: object

In [14]:
#Posso passar um dicionário
pd.Series(d)

a    10
b    20
c    30
dtype: int64

#_Salvando a Series:_

In [16]:
ser1 = pd.Series([1,2,3,4], index = 'EUA Alemanha USSR Japão'.split())
ser1
# O index é um seletor que ajudar a manipular dados

EUA         1
Alemanha    2
USSR        3
Japão       4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,3,4], index = 'EUA Alemanha Italia Japão'.split())

#_Selecionando Dados de uma Serie:_

In [25]:
#Adicionando por index:
ser1[["Alemanha", "EUA", "Japão"]]

Alemanha    2
EUA         1
Japão       4
dtype: int64

In [28]:
ser1["EUA":"USSR"] #Outra forma

EUA         1
Alemanha    2
USSR        3
dtype: int64

In [22]:
ser1[1]

2

In [23]:
ser1["Alemanha"]

2

#_Algumas Funções:_

In [24]:
steps = pd.Series([42153,5241,56974,12365]) #Crio minha Serie
print(steps.values) # retorna os valores
print("------------------------------------------")
print(steps.index) # retorna os indíces
print("------------------------------------------")
#obs: o steps.values mostra que os valores são agrupados em um array
#logo pode-se trabalhar com o numpy
#Ex:
n = steps.values
print(type(n))
print()
print(f"mínimo: {steps.min()}")
print(f"máximo: {steps.max()}")
print(f"média: {steps.mean()}")
print("por ai vai...")
print('~'*21)
print(steps.shape)
print('~'*21)
print(steps.describe())

[42153  5241 56974 12365]
------------------------------------------
RangeIndex(start=0, stop=4, step=1)
------------------------------------------
<class 'numpy.ndarray'>

mínimo: 5241
máximo: 56974
média: 29183.25
por ai vai...
~~~~~~~~~~~~~~~~~~~~~
(4,)
~~~~~~~~~~~~~~~~~~~~~
count        4.000000
mean     29183.250000
std      24471.923155
min       5241.000000
25%      10584.000000
50%      27259.000000
75%      45858.250000
max      56974.000000
dtype: float64

#_Operações:_

In [29]:
s1 = pd.Series(data = np.random.randint(1, 100, 3), index = 'Facebook Instagram Youtube'.strip().split() )
print(s1)

Facebook     54
Instagram    78
Youtube      86
dtype: int64

In [31]:
s2 = pd.Series(data = np.random.randint(1, 100, 4), index = 'Zoom Instagram Twitch Youtube'.strip().split())
print(s2)

Zoom         81
Instagram    32
Twitch       20
Youtube      86
dtype: int64

In [33]:
s1 + s2  #Soma apenas o valores que possuem o mesmo index
#Logo operações são orientadas por index

Facebook       NaN
Instagram    110.0
Twitch         NaN
Youtube      172.0
Zoom           NaN
dtype: float64

#_Máscara:_

In [34]:
letras = 'A B C D E F G H I J'
series2 = pd.Series(np.random.randint(1, 5, 10), index = letras.split())
print(series2)

A    1
B    1
C    4
D    4
E    1
F    1
G    3
H    3
I    2
J    3
dtype: int64

In [37]:
series2[series2 > 2] #retorno todos os valores maiores que 2

C    4
D    4
G    3
H    3
J    3
dtype: int64

In [38]:
series2[series2 > 2].index #retorno os indices dos valores maiores que 2

Index(['C', 'D', 'G', 'H', 'J'], dtype='object')